$blue           : #2176C7;
$darkgray		: #333;
$white			: #fff;
$offwhite		: #dcdcdc;
$black			: #000;
$gray			: #999;
$lightgray		: #ccc;
$lightergray	: #dfdfdf;
$lightblue		: #00ccff;

$font-heading: 'Raleway', sans-serif;

$default-border-radius	: 10px;